<div class="container">

<!-- FB LOGIN -->

  <%= link_to "/auth/facebook", id: "sign_in", type: "button", :class => "btn-facebook-style"  do %>
    <em class="facebook-icon"></em><span>Sign up with Facebook</span>
  <% end %>
  <div class="activities-userProfilePhoto" >
    <%= link_to image_tag(current_user.photo_url(:profile_settings_thumb).to_s, :class => "activities-userProfileImg"), user_path(current_user) %>
  </div>
<!-- FB LOGIN -->

<div class="activities-listWrapper">
  <div class="row activities-activitiesListHeader">
    <h1 id='activity-heading'>
      <%= @user.first_name + " " + @user.last_name %>
    </h1>
  </div>
  <br>
  <ul class="list-unstyled" id="profile-list-padding">
    <li>Email: <i><%= @user.email %></i></li>
    <li>Username: <i><%= @user.username %></i></li>
    <li>Motto: <i><%= @user.motto %></i></li>
    <li>Professional Blurb: <i><%= @user.professional_blurb %></i></li>
  </ul>
</div>
</div>