
<!-- FB LOGIN -->

      <%= link_to "/auth/facebook", id: "sign_in", type: "button", :class => "btn-facebook-style"  do %>
        <em class="facebook-icon"></em><span>Sign up with Facebook</span>
      <% end %> 

      <!-- FB LOGIN -->
<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>
<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<p>
  <strong>Picture URL:</strong>
  <%= @user.photo %>
</p>
<p>
  <strong>Motto:</strong>
  <%= @user.motto %>
</p>
<p>
  <strong>Professional Blurb:</strong>
  <%= @user.professional_blurb %>
</p>

<%= link_to 'Back', users_path %>