
<div id="jmpress">

  <% @photos.each_with_index do |photo, index| %>
  <% index % 4 == 0 ? line_id = "line_1" : %>
  <% index % 4 == 1 ? line_id = "line_2" : %>
  <% index % 4 == 2 ? line_id = "line_3" : %>
  <% index % 4 == 3 ? line_id = "line_4" : %>

  <% index % 2 == 0 ? vertical_align = 150 : vertical_align = -150 %>

  <% index % 4 == 0  ? vertical_jump = 1000 : vertical_jump = 0 %>


    <div class="step" id="pic_<%=index%>" data-x="<%= index * 1200 %>" data-y="<%= vertical_align + vertical_jump %>" data-rotate="0" data-z="0" data-scale="0">

      <div id="photo_wrapper">
      <%= image_tag photo.photo_url.to_s %>
      </div>

      <div id="<%= line_id %>">
      </div>


      <div id="owners_photo">
        <%= image_tag photo.user.photo_url(:event_presentation_thumb).to_s, :class => "photo" %>
      </div>

    </div>

 <% end %>

</div>

<footer id="footer">
 <%= link_to @event.activity.title, event_path(@event) %>
</footer>

