<span id="picture_count"><% @picture_count %></span>

<div id="jmpress">

  <div class="step" id="pic_1" data-x="0" data-rotate="0" data-z="10000" data-scale="0"><%= image_tag "lands_end_1.jpg" %></div>

  <div class="step" id="pic_2" data-x="3000" data-z="9000"data-rotate="0" data-scale="0"><%= image_tag "lands_end_2.jpg" %></div>

  <div class="step" id="pic_3" data-x="6000" data-rotate="0" data-z="8000" data-scale="0"><%= image_tag "lands_end_3.jpg" %></div>

  <div class="step" id="pic_4" data-x="9000" data-z="7000" data-rotate="0" data-scale="0"><%= image_tag "lands_end_4.jpg" %></div>

  <div class="step" id="pic_5" data-x="12000" data-z="6000" data-rotate="0" data-scale="0"><%= image_tag "lands_end_5.jpg" %></div>

  <div class="step" id="pic_6" data-x="15000" data-z="5000" data-rotate="0" data-scale="0"><%= image_tag "lands_end_6.jpg" %></div>

  <div class="step" id="pic_7" data-x="18000" data-z="4000" data-rotate="0" data-scale="0"><%= image_tag "lands_end_7.jpg" %></div>

  <div class="step" id="pic_8" data-x="21000" data-z="3000" data-rotate="0" data-scale="0"><%= image_tag "lands_end_8.jpg" %></div>


</div>