<div class="container">
<div class="activities-userProfileFixedWrapper">
<div class="activities-userProfileWrapper">
  <div class="activities-userProfilePhoto" >
    <%= link_to image_tag("prof-pic.jpeg", :class => "activities-userProfileImg"), activities_path   %>
    <div class="activities-userProfileAttsWrapper">

    <div class="activities-userProfileAtts">

      <div class="activities-userAtts">
        <p>Activities</p>
        <h4>8</h4>
      </div>
      <div class="activities-userAtts">
        <p>Remaining Votes</p>
        <h4>3</h4>
      </div>
      <div class="activities-userAtts">
        <p>User Rating</p>
        <h4>110%</h4>      
      </div>

    </div>

    <div class="activities-navTabsWrapper">
     <!-- Nav tabs -->
      <ul class="nav nav-pills activities-nav-pills" role="tablist">
        <li class="active">
          <a href="#accepted" role="tab" data-toggle="tab" class="activities-btn-tabs events-btn-tabs">
            Attending
          </a>
        </li>
        <li>
          <a href="#invited" role="tab" data-toggle="tab" class="activities-btn-tabs events-btn-tabs">
            Invited
          </a>
        </li>
        <li>
          <%= link_to "Accept Invite", {
           controller: "trips", 
           action:     "create", 
           event_id:   @event.id
          }, method: :post,
         :class => "btn-old btn-green events-btn-tabs-accept" 
          %>
        </li>

      </ul>
     <!-- Tab panes -->
      <div class="tab-content activities-tab-content">

        <div class="tab-pane fade in active" id="accepted">
          <ul class="list-unstyled activities-miniList">
            <div id="scroll-eventAccepted" class="wrapper">
              <div> <!-- ScrollBar -->
                <% @event.users.each do |user| %>
                <li>
                  <%= image_tag user.photo_url(:logged_in_thumb).to_s, :class=> "activities-listPhoto activities-miniListPhoto" %>
                  <%= user.first_name %><%= user.last_name %>
                  <div class="activities-miniBackersWrapper text-center">
                    <span><%= user.activities.count %></span><br/>
                    votes
                  </div>
                </li>
              <% end %>
            </div><!-- ScrollBar -->
           </div> <!-- ScrollBar -->
          </ul>
        </div>

        <div class="tab-pane fade" id="invited">
        <% activities = current_user.activities %>
            <ul class="list-unstyled activities-miniList">
             <div id="scroll-eventInvited" class="wrapper">
               <div> <!-- ScrollBar -->
                <% @users.each do |user| %>
                    <li>
                      <%= image_tag user.photo_url(:logged_in_thumb).to_s, :class=> "activities-listPhoto activities-miniListPhoto" %>
                      <%= user.first_name %><%= user.last_name %>
                      <div class="activities-miniBackersWrapper text-center">
                        <span><%= user.activities.count %></span><br/>
                        votes
                      </div>
                    </li>
                <% end %>
              </div><!-- end scroll-myVotes -->
            </div><!-- end scroll-myVotes -->
          </ul>
        </div>
      </div><!-- End Tab Panes -->

      </div> <!-- end NavTabs Wrapper -->


      </div> <!-- end NavTabs Wrapper -->

    </div><!-- end activities-userProfileAttsWrapper -->
  </div><!-- end activities-userProfilePhoto -->
</div><!--  end activities-userProfileWrapper -->
</div><!-- end activities-userProfileFixedWrapper -->

<div class="event-winnerWrapper">  
  <div class="text-center">
    <h3>
      <span>Winning Event:</span>
      Lets go <%= @event.activity.title %>!! 
    </h3>
  </div>
</div><!-- end event-Wrapper -->

<div class="event-Wrapper">  
  <div class="center">
    <%= image_tag @event.activity.photo_url.to_s, :style => "border-radius:5px; width: 100%; height:250px;"%>
  </div>
</div><!-- end event-Wrapper -->

<div class="event-Wrapper">
  <div class="event-Header center">
    <ul class="list-unstyled zero">
      <li>
        <p class="event-Label">
          Title:  
        </p>
        <p class="event-Content">
          <%= @event.activity.title %>
        </p>
      </li>
      <li>
        <p class="event-Label">
          Deets:  
        </p>
        <p class="event-Content">
          <%= @event.activity.description %>
        </p>
      </li>
      <li>
        <p class="event-Label">
          Necessities:  
        </p>
        <p class="event-Content">
          <%= @event.activity.necessities %>
        </p>
      </li> 
      <li>
    </ul>
  </div>
</div><!-- end event-Wrapper -->

<div class="event-Wrapper">  
  <div class="center">

    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3152.3911123256967!2d-122.46844400000002!3d37.804306999999994!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808586dd47dc1d61%3A0x8f70157ca433cc78!2sPlanet+Granite!5e0!3m2!1sen!2sus!4v1413762056273" width="100%" height="450" frameborder="0" style="border:0"></iframe>
  </div>
</div><!-- end event-Wrapper -->