<div class="container">

<div class="activities-userProfileWrapper">
  <div class="activities-userProfilePhoto" >
    <%= link_to image_tag("prof-pic.jpeg", :class => "activities-userProfileImg"), activities_path   %>
    <div class="activities-userProfileAttsWrapper">

    <div class="activities-userProfileAtts">

      <div class="activities-userAtts">
        <p>Activities</p>
        <h4>8</h4>
      </div>
      <div class="activities-userAtts">
        <p>Remaining Votes</p>
        <h4>3</h4>
      </div>
      <div class="activities-userAtts">
        <p>Reliability</p>
        <h4>10</h4>
      </div>

    </div>
     
    <div class="activities-navTabsWrapper">
     <!-- Nav tabs -->
      <ul class="nav nav-pills activities-nav-pills" role="tablist">
        <li class="active">
          <a href="#home" role="tab" data-toggle="tab" class="activities-btn-tabs">
            My Activities
          </a>
        </li>
        <li>
          <a href="#profile" role="tab" data-toggle="tab" class="activities-btn-tabs">
            Voted Activities
          </a>
        </li>
        <li>
          <%= link_to "Add Activity", new_activity_path, :class=> "activities-btn-tabs btn-green" %>
        </li>

      </ul>
     <!-- Tab panes -->
      <div class="tab-content activities-tab-content">
        <div class="tab-pane fade in active" id="home">
          <% activities = @activities.where(user_id: current_user.id) %>
          <ul class="list-unstyled activities-miniList">
            <% activities.each do |activity| %>
              <li>
                <%= image_tag "hiking.jpg", :class=> "activities-listPhoto activities-miniListPhoto" %>
                <%= activity.title %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="tab-pane fade" id="profile">
        <% activities = current_user.activities %>
            <ul class="list-unstyled activities-miniList">
            <% activities.each do |activity| %>
              <li><%= activity.title %></li>
            <% end %>
          </ul>
        </div>
      </div>

      </div> <!-- end NavTabs Wrapper -->

    </div>
  </div>
</div>

<div class="activities-listWrapper">
  <div class="row activities-activitiesListHeader">
    <h1>Activities</h1>

    <form id="activities-search", action='/search'>
      <label >Search:
      <input  id ='activities-search-input'type="text" name="query">
      </label>
    </form>

  </div>
  <ul class="list-unstyled">
    <% @activities.each do |activity| %>
      
      <%= link_to activity do %>
        <li>
          <%= image_tag "hiking.jpg", :class=> "activities-listPhoto" %>
          <%= activity.title %> <span><%= activity.votes.count %></span>
        </li>
      <% end %>
    <%end%>
  </ul>
</div>





