<div class="container">

<div class="activities-userProfileFixedWrapper">
<div class="activities-userProfileWrapper">
  <div class="activities-userProfilePhoto" >
    <%= link_to image_tag(current_user.photo_url(:profile_settings_thumb).to_s, :class => "activities-userProfileImg"), user_path(current_user) %>
    <div class="activities-userProfileAttsWrapper">

    <div class="activities-userProfileAtts">

      <div class="activities-userAtts">
        <p>Activities</p>
        <h4><%= current_user.activities.count %></h4>
      </div>
      <div class="activities-userAtts">
        <p>Remaining Votes</p>
        <h4 id='remaining-votes'><%= current_user.remaining_votes%></h4>
      </div>
      <div class="activities-userAtts">
        <p>User Rating</p>
        <h4>110%</h4>
      </div>

    </div>

    <div class="activities-navTabsWrapper">
     <!-- Nav tabs -->
      <ul class="nav nav-pills activities-nav-pills" role="tablist">
        <li class="active">
          <a href="#home" role="tab" data-toggle="tab" class="activities-btn-tabs">
            My Activities
          </a>
        </li>
        <li>
          <a href="#profile" role="tab" data-toggle="tab" class="activities-btn-tabs">
            Voted Activities
          </a>
        </li>
        <li>
          <%= link_to "Add Activity", "#", :class=> "activities-btn-tabs btn-old btn-green", 'data-toggle'=>"modal", 'data-target'=>"#addActivityModal" %>
        </li>

      </ul>
     <!-- Tab panes -->
      <div class="tab-content activities-tab-content">

        <div class="tab-pane fade in active" id="home">
          <% activities = @activities.where(user_id: current_user.id) %>
          <ul class="list-unstyled activities-miniList">
            <div id="scroll-myActivities" class="wrapper">
              <div> <!-- ScrollBar -->
                <% activities.each do |activity| %>
                <li>
                  <%= image_tag activity.photo_url(:mini_activity_list_thumb).to_s, :class=> "activities-listPhoto activities-miniListPhoto" %>
                  <%= activity.title %>
                  <div class="activities-miniBackersWrapper text-center">
                    <span><%= activity.votes.count %></span><br/>
                    votes
                  </div>
                </li>
              <% end %>
            </div><!-- ScrollBar -->
           </div> <!-- ScrollBar -->
          </ul>
        </div>

        <div class="tab-pane fade" id="profile">
        <% activities = current_user.activities %>
            <ul class="list-unstyled activities-miniList">
             <div id="scroll-myVotes" class="wrapper">
               <div> <!-- ScrollBar -->
                <% activities.each do |activity| %>
                    <li>
                      <%= image_tag activity.photo_url(:mini_activity_list_thumb).to_s, :class=> "activities-listPhoto activities-miniListPhoto" %>
                      <%= activity.title %>
                      <div class="activities-miniBackersWrapper text-center">
                        <span><%= activity.votes.count %></span><br/>
                        votes
                      </div>
                    </li>
                <% end %>
              </div><!-- end scroll-myVotes -->
            </div><!-- end scroll-myVotes -->
          </ul>
        </div>
      </div>

      </div> <!-- end NavTabs Wrapper -->

    </div>
  </div>
</div>
</div><!-- end activities-userProfileFixedWrapper -->


<div class="activities-listWrapper">
  <div class="row activities-activitiesListHeader">
    <h1 id='activity-heading'>Activities</h1>

    <form id="activities-search", action='/search'>
      <label >
        <!-- <i class="fa fa-search"> </i> -->
        <input  id ='activities-search-input'type="text" name="query" class="form-control" placeholder="search activities">
      </label>
    </form>

  </div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs activities-queryHeader" role="tablist">
    <li ><a href="#recently" role="tab" data-toggle="tab">Recently Added</a></li>
    <li><a href="#trending" role="tab" data-toggle="tab">Trending</a></li>
    <li class="active"><a href="#votes" role="tab" data-toggle="tab">Votes</a></li>
  </ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="recently">
    <ul class="list-unstyled">
  <% @recent_activities.order(created_at: :desc).each do |activity| %>
       <%= link_to activity do %>
        <li>
          <%= image_tag activity.photo_url(:activity_list_thumb).to_s, :class=> "activities-listPhoto" %>
          <%= activity.title %>
        </li>
      <% end %>
      <%= form_for @vote do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :activity_id, :value => activity.id %>
        <%= f.button :class => "activities-voteUpButton" do %>
          <div class="activities-BackersWrapper text-center">
            <span><%= activity.votes.count %></span><br/>
          </div>
        <% end %>
      <% end %>
    <%end%> <!-- End of Activity -->
  </ul>
  </div>
  <div class="tab-pane" id="trending">     <ul class="list-unstyled">
       <% @trending_activities.each do |activity| %>
       <%= link_to activity do %>
        <li>
          <%= image_tag activity.photo_url(:activity_list_thumb).to_s, :class=> "activities-listPhoto" %>
          <%= activity.title %>
        </li>
      <% end %>
      <%= form_for @vote do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :activity_id, :value => activity.id %>
        <%= f.button :class => "activities-voteUpButton" do %>
          <div class="activities-BackersWrapper text-center">
            <span><%= activity.votes.count %></span><br/>
          </div>
        <% end %>
      <% end %>
    <%end%> <!-- End of Activity -->
  </ul> </div>
  <div class="tab-pane" id="votes">       <ul class="list-unstyled">
       <% @sorted_by_vote.each do |activity| %>
       <%= link_to activity do %>
        <li>
          <%= image_tag activity.photo_url(:activity_list_thumb).to_s, :class=> "activities-listPhoto" %>
          <%= activity.title %>
        </li>
      <% end %>
      <%= form_for @vote do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :activity_id, :value => activity.id %>
        <%= f.button :class => "activities-voteUpButton" do %>
          <div class="activities-BackersWrapper text-center">
            <span><%= activity.votes.count %></span><br/>
          </div>
        <% end %>
      <% end %>
    <%end%> <!-- End of Activity -->
  </ul>
</div>
</div>

<!--   <div class="activities-queryHeader">
    <div class="activities-queryItem">
      <a href="#">
        Recently Added
      </a>
    </div>
    <div class="activities-queryItem">
      <a href="#">
        Trending
      </a>
    </div>
    <div class="activities-queryItem activities-queryVote">
      <a href="#">
        Votes
      </a>
    </div>
  </div> .activities-queryHeader -->

<!-- Modal -->
<div class="modal fade" id="addActivityModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog activities-addActivityModalDialog">
    <div class="modal-content activities-addActivityModalContent">
      <div class="modal-body zero">
        <%= render 'activity_modal_form' %>
      </div>
    </div>
  </div>
</div>







