<div class="container">

<div class="activities-userProfileWrapepr">
  <div class="activities-userProfilePhoto" >
    <%= link_to image_tag("prof-pic.jpeg",), activities_path   %>
    <div class="activities-userProfileAttsWrapper">
     
     <div class="activities-navTabsWrapper">
       <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="active">
            <a href="#home" role="tab" data-toggle="tab">
              My Activities
            </a>
          </li>
          <li>
            <a href="#profile" role="tab" data-toggle="tab">
              Voted Activities
            </a>
          </li>
        </ul>

       <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane fade in active" id="home">
          This is my Home!
          </div>
          <div class="tab-pane fade" id="profile">
          This is my Profile!
          </div>
        </div>

      </div> <!-- end NavTabs Wrapper -->

    </div>
  </div>
</div>

<div class="activities-listWrapper center">
  <div class="row">
    <h1>Activities</h1>
  </div>
  <ul class="list-unstyled">
    <% @activities.each do |activity| %>
      <%= form_for @vote do |f| %>
         <%= f.hidden_field :user_id, :value => current_user.id %>
         <%= f.hidden_field :activity_id, :value => activity.id %>
         <%= f.button :class => "activities-voteUpButton" do %>
           <i class="fa fa-arrow-circle-o-up fa-3x"></i>
         <% end %>
      <% end %>
      <%= link_to activity do %>
        <li>
          <%= activity.title %> | Vote Count: <%= activity.votes.count %>
        </li>
      <% end %>
    <%end%>
  </ul>


</div>





