<div class="container">

<div class="activities-userProfileWrapepr">
  <div class="activities-userProfilePhoto" >
    <%= link_to image_tag("prof-pic.jpeg",), activities_path   %>
    <div class="activities-userProfileAttsWrapper">

    <div class="activities-userProfileAtts">

      <div class="activities-userAtts">
        <p>Activities</p>
        <h4>8</h4>
      </div>
      <div class="activities-userAtts">
        <p>Remaining Votes</p>
        <h4>3</h4>
      </div>
      <div class="activities-userAtts">
        <p>Reliability</p>
        <h4>10</h4>
      </div>

    </div>
     
    <div class="activities-navTabsWrapper">
     <!-- Nav tabs -->
      <ul class="nav nav-pills activities-nav-pills" role="tablist">
        <li class="active">
          <a href="#home" role="tab" data-toggle="tab" class="activities-btn-tabs">
            My Activities
          </a>
        </li>
        <li>
          <a href="#profile" role="tab" data-toggle="tab" class="activities-btn-tabs">
            Voted Activities
          </a>
        </li>
        <li>
          <a href="#profile" class="activities-btn-tabs btn-green">
            Add Activity
          </a>
        </li>

      </ul>
     <!-- Tab panes -->
      <div class="tab-content activities-tab-content">
        <div class="tab-pane fade in active" id="home">
        These are my activities! <span> 10% </span>
        <br><hr>
        These are my activities! <span> 10% </span>
        <br><hr>
        These are my activities! <span> 10% </span>
        <br><hr>
        These are my activities! <span> 10% </span>
        </div>
        <div class="tab-pane fade" id="profile">
        These are activities I voted on! <span> 10% </span>
        <br><hr>
        These are activities I voted on! <span> 10% </span>
        <br><hr>
        These are activities I voted on! <span> 10% </span>
        <br><hr>
        These are activities I voted on! <span> 10% </span>
        <br><hr>
        These are activities I voted on! <span> 10% </span>
        </div>
      </div>

      </div> <!-- end NavTabs Wrapper -->

    </div>
  </div>
</div>

<div class="activities-listWrapper">
  <div class="row activities-activitiesListHeader">
    <h1>Activities</h1>
  </div>
  <ul class="list-unstyled">
    <% @activities.each do |activity| %>
      
      <%= link_to activity do %>
        <li>
          <%= image_tag "hiking.jpg", :class=> "activities-listPhoto" %>
          <%= activity.title %> <span><%= activity.votes.count %></span>
        </li>
      <% end %>
    <%end%>
  </ul>
</div>





