<!DOCTYPE html>
<html lang="en">
   <head>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

  <title><%= content_for?(:title) ? yield(:title) : "Live It Up Social" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
 <body>
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Live It Up <span>Social</span></a>
      </div>
      <div class="collapse navbar-collapse">

        <!-- <form id="activities-search", action='/search'>
          <label >
            <!-- <i class="fa fa-search"> </i>
            <input  id ='activities-search-input'type="text" name="query" class="form-control" placeholder="search activities">
          </label>
        </form> -->

        <ul class="nav navbar-nav pull-right">
          <li >
            <%= link_to "Past Events", events_path %>
          </li>
          <li>
            <%= link_to "Votable Activities", activities_path %>
          </li>
            <% unless current_user.nil? %>
          <li>
               <div class="dropdown">
                <button class="btn-dropdown dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                <%= link_to image_tag(current_user.photo_url(:logged_in_thumb).to_s, :class => "app-userMiniProfileImg"), activities_path %>
                <%= current_user.first_name %>
                </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation">

                        <%= link_to 'Profile', user_path(current_user) %>
                    </li>
                    <li role="presentation">
                        <%= link_to 'Log out', session_path(current_user), method: :delete%>

                    </li>
                  </ul>
                </div>
          </li>
          <% else %>
            <li>
              <%= link_to "Log In", '#', 'data-toggle'=>"modal", 'data-target'=>"#loginModal" %>
            </li>
            <li>
              <%= link_to "Sign Up", '#', 'data-toggle' => "modal",  'data-target'=>'#signupModal' %>
            </li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  <div class="container main-container">
  <%= yield %>
  </div><!-- /.container -->
</body>
</html>
